# ===== เลือก Database =====
# DB_TYPE=supabase  → ใช้ Supabase
# DB_TYPE=mysql     → ใช้ MySQL (default)
DB_TYPE=supabase

# ===== Supabase (ใช้เมื่อ DB_TYPE=supabase) =====
SUPABASE_URL=https://agyfazwnsdcwymdyvlcx.supabase.co
SUPABASE_KEY=sb_publishable_fIgluDwsW78lsp5-xCqGzw_DMmq3AXi

# ===== MySQL (ใช้เมื่อ DB_TYPE=mysql) =====
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Tackypat2244
DB_NAME=demo

# ===== App =====
APP_PORT=3000
